*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f5f8;
    color: #25313c;
    line-height: 1.5;           /*interlineado*/

}

header{
    background-color: #073763;
    color: white;
    text-align: center;

}

.titulo{
    padding: 30px;
}

.titulo h1{
    font-size: 32px;
    margin-bottom: 8px;

}

.titulo p{
    font-size: 18px;
    color: #d9e8f5;
}

nav {
    background-color: #052a4d;
    padding: 15px;
    text-align: center;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    transition: .3s;
    font-weight: bold;

}


nav a:hover {
    background-color: #1b75bb;

}


main{
    width: 1100px;
    margin: auto;
}

section{
    background-color: white;
    margin-top: 30px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #cccccc;
    
}

section h2{
    color: #073763;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #1b75bb;

}

section h3{
    color: #174f78;
    margin-bottom: 10px;

}


section p{
    margin-bottom: 15px;
    text-align: justify;
}


section ul{
    margin-left: 30px;
}

section li{
    margin-bottom: 10px;

}


.section-inicio{
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcebf7;
    text-align: center;

}


.contenido-inicio{
    width: 750px;

}

.contenido-inicio h2{
    font-size: 35px;
    border-bottom: none;

}

.contenido-inicio p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;

}


button{
    background-color: #0b5b92;
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

}


button:hover{
    background-color: #073763;
}


#objetivos article{
    background-color: #f5f9fc;
    border-left: 5px solid #1b75bb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.pasos{
    display: flex;
    gap: 15px;

}


.paso{
    width: 20%;
    background-color: #edf5fb;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border-top: 5px solid #1b75bb;

}

.paso h3{
    color: #073763;
}

.paso p {
    text-align: center;
    margin-bottom: 0;
}


.formula-logica{
    background-color: #e8f2f9;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border:  2px solid #1b75bb;
    border-radius: 8px;

}

.formula-logica p{
    text-align: center;

}


.formula{
    color: #073763;
    font-size: 30px;
    font-weight: bold;

}


#provincias button{
    margin-bottom: 20px;

}

.contenido-provincias{
    display: none;
    gap: 30px;
    align-items: flex-start;

}


.lista-provincias{
    width: 420px;
    height: 560px;
    overflow-y: scroll;
    border: 2px solid #c8d4de;
    border-radius: 8px;

}


.lista-provincias table{
    width: 100%;
    border-collapse: collapse;

}

.lista-provincias thead{
    background-color: #073763;
    color: white;

}

.lista-provincias th{
    background-color: #073763;

}

.lista-provincias th, 
.lista-provincias td{
    padding: 7px;
    border: 1px solid #c8d4de;
    font-size: 12px;
    text-align: center;

}


.lista-provincias tbody tr:hover{
    background-color: #d8ebf7;

}


.imagen-provincias{
    width: 560px;
    background-color: #f5f9fc;
    padding: 20px;
    text-align: center;
    border: 1px solid #c8d4de;
    border-radius: 12px;

}

.imagen-provincias h3{
    color: #073763;
}

.imagen-provincias img{
    width: 480px;
    height: auto;
    border: 2px solid #c8d4de;
    border-radius: 12px;

}

.imagen-provincias p{
    text-align: center;
    margin-top: 15px;

}

.funciones-python{
    display: flex;
    gap: 20px;
    margin-top: 25px;

}

.funciones-python article{
    width: 25%;
    background-color: #edf5fb;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border-bottom: 5px solid #1b75bb;

}


.funciones-python article h3{
    color: #073763;

}

.funciones-python article p{
    text-align: center;
    margin-bottom: 0;

}


#integrantes{
    text-align: center;

}

#integrantes p{
    text-align: center;

}

#integrantes ul{
    list-style-position: inside;
    margin-left: 0;
}


footer {
    background-color: #052a4d;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}


footer p {
    margin: 5px;
}
